# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env
# Ignore generated model
model/similarity.pkl

# Optional
venv/
__pycache__/
.env